html {
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.osrs-logo {
  max-width: 200px;
}
.search {
  background-color: white;
  padding: 0.7rem 2rem;
  font-size: 1rem;
}
.search-icon {
  font-size: 1.5rem;
  margin-top: 0.3rem;
}
.header .mainpage-discussion ul {
  display: flex;
}
.logo-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: auto;
}
.account-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}
.account-details .create-account {
  margin-right: 20px;
}
.mainpage-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 296px;
}
.mainpage-discussion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.search-fields {
  display: flex;
  flex-direction: row;
}
.mainpage-buttons .mainpage-button-1 {
  color: #000000;
}
.mainpage-buttons .mainpage-button-2 {
  color: black;
}
.login-html {
  color: black;
}
.create-account {
  color: black;
}
a {
  color: #442b18;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.side-navigation-bar {
  width: 38%;
}

.side-bar-nav {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  line-height: 25px;
}
.navigation-text {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  line-height: 25px;
}
.guides {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  line-height: 25px;
}
.guide-text {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  line-height: 25px;
}
.community {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  line-height: 25px;
}
.community-text {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  line-height: 25px;
}
.more-runescape {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  line-height: 25px;
}
.morers-text {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  line-height: 25px;
}
.tools {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  line-height: 25px;
}
.tools-text {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  line-height: 25px;
}
body {
  background-color: #c0a886;
}
.main-body-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.mainpage-header {
  display: flex;
  margin: 2.6em 1.75em 1.5em;
}
.mainpage-header .header-intro {
  margin-right: 2em;
}
.mainpage-header .header-intro h1 {
  font-size: 2.5em;
  border: none;
  margin: 0 0 0.15em;
  font-weight: 600;
}
.mainpage-header .header-intro p {
  display: block;
  padding-right: 200px;
  font-size: 2em;
  line-height: 1.7em;
}
.mainpage-header .header-intro {
  display: inline-block;
}
.main-body-wrapper {
  display: flex;
  flex-direction: row-reverse;
}
.header-stats {
  display: flex;
  font-size: 1.5em;
  width: 100%;
  line-height: 1.7em;
}
.first-box-set {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 30px;
  background-color: #e2dbc8;
}

.header-stats {
  height: 30%;
}
.first-box-set p {
  font-size: 1em;
  line-height: 1.75em;
  color: #444e5a;
  background-color: white;
}
.first-box-set b {
  background-color: white;
}
.byline {
  font-size: 0.9em;
  color: #5c6168;
}
.first-box-set h2 {
  color: black;
  background-color: white;
}
.second-box-set {
  margin-right: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-top: 20px;
  background-color: #e2dbc8;
}
.second-box-set h2 {
  width: 83.3%;
  text-align: center;
  background-color: white;
  position: relative;
  bottom: 4px;
}
.second-box-set img {
  max-height: auto;
  max-width: 275px;
}
.main-body-container {
  background-color: #e2dbc8;
}

.mainpage-button-1 {
  font-size: 1.4rem;
  background-color: #e2dbc8;
  position: relative;
  top: 20px;
}
.mainpage-button-2 {
  font-size: 1.4rem;
  background-color: #e2dbc8;
  position: relative;
  top: 20px;
}
.account-details {
  font-size: 1.4rem;
}
.side-navigation-bar {
  font-size: 1.4rem;
  width: 29%;
}
.side-navigation-bar p {
  font-size: 1.4rem;
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
