html {
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #c0a886;
  list-style-type: none;
}
.osrs-logo {
  max-width: 200px;
}
.search {
  background-color: white;
}
.header .mainpage-discussion ul {
  display: flex;
}
.logo-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: auto;
}
.account-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}
.account-details .create-account {
  margin-right: 20px;
}
.mainpage-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 300px;
}
.mainpage-discussion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.search-fields {
  display: flex;
  flex-direction: row;
}
.mainpage-buttons .mainpage-button-1 {
  color: #000000;
  margin-right: 5px;
  background-color: #d9d0c1;
}
.mainpage-buttons .mainpage-button-2 {
  color: black;
}
.login-html {
  color: black;
}
.create-account {
  color: black;
}
a {
  color: #442b18;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.side-bar-nav {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  line-height: 25px;
}
.navigation-text {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  line-height: 25px;
}
.guides {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  line-height: 25px;
}
.guide-text {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  line-height: 25px;
}
.community {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  line-height: 25px;
}
.community-text {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  line-height: 25px;
}
.more-runescape {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  line-height: 25px;
}
.morers-text {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  line-height: 25px;
}
.tools {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  line-height: 25px;
}
.tools-text {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  line-height: 25px;
}
